
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//Alert reports

.flag {
  height: 22px;
}

.alert_orange .flag {
  background-color: $brand-danger;
}

.alert_red .flag {
  background-color: $brand-warning;
}

.alert_black .flag {
  background-color: black;
}

.report .glyphicon {
  margin-right: 8px;
}